<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contributors</h5>
        <ul class="white-text">
          <li>Danny Cho</li>
          <li>Tim Hanson</li>
          <li>Yue Zheng</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Summer Hackday 2017
    </div>
  </div>
</footer>
