<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/stylesheets/snacks.css">
  </head>
  <body>
    <div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <form class="form-horizontal">
                    <span class="heading">Appfolio Snack List</span>
                    <div class="snacklist">
                    <Center>
                      <table style="width:50%">
                        <thead class="thead">
                        <tr>
                          <th>Snack</th>
                          <th>Votes</th>
                        </tr>
                        </thead>
                        <!-- This is where we iterate through the list and populate the snack data -->
                        <tbody class="data">
                          <% @Snack.each do |Snack| %>
                          <tr>
                            <td><%= snack.name %></td>
                            <td><%= snack.votes %></td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </Center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>